@font-face {
  font-family: 'Gaegu';
  src: local('Gaegu'), url(../../assets/fonts/Gaegu-Regular.ttf) format('truetype');
}

button {
  font-family: "Gaegu", monospace;
  font-size: 20px;
  color: red;
}