@font-face {
  font-family: 'Gaegu';
  src: url(./../../assets/fonts/Gaegu-Regular.ttf) format('truetype');
  font-weight: normal;
  font-style: normal;
}

.Button {
  font-family: "Gaegu", monospace;
  font-size: 20px;
  color: red;
}